@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 200;
  src: local("Nunito ExtraLight"),
    url("./Nunito-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 300;
  src: local("Nunito Light"), url("./Nunito-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: local("Nunito Regular"), url("./Nunito-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  src: local("Nunito SemiBold"), url("./Nunito-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  src: local("Nunito Bold"), url("./Nunito-Bold.ttf") format("truetype");
}
